# Silence Dot ENV logs
DOTENV_CONFIG_QUIET=true

# Environment
NEXT_PUBLIC_NODE_ENV=development

# Ports
NEXT_PUBLIC_HOST_PORT=1995
NEXT_PUBLIC_CLIENT_PORT=1997

# Versions
NEXT_PUBLIC_HOST_VERSION=v1
NEXT_PUBLIC_CLIENT_VERSION=v1

# URLs
NEXT_PUBLIC_HOST_URL=http://localhost:1995
NEXT_PUBLIC_CLIENT_URL=http://localhost:1997