# Silence Dot ENV logs

DOTENV_CONFIG_QUIET=true

# Environment

NODE_ENV=

# Ports

HOST_PORT=
CLIENT_PORT=

# Versions

HOST_VERSION=
CLIENT_VERSION=

# URLs

HOST_URL=
CLIENT_URL=

# Logs Configurations

LOG_LEVEL=info
LOG_TARGET=db

# Secret Keys

SESSION_SECRET_KEY=
JWT_SECRET_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_TOKEN_EXPIRY=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=

# VAPID Configurations

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# Email Configurations

RESEND_FROM=
RESEND_FROM=
RESEND_API_KEY=

# Database Configurations

DB_LOCAL_URI=mongodb://localhost:27017
DB_LOCAL_NAME=
DB_BASE_URI=mongodb+srv
DB_CLUSTER=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Google Drive Configurations

GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_ACCOUNT_NAME=
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_ACCOUNT_ID=
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_PROJECT_ID=
GOOGLE_DRIVE_IMAGE_STORAGE_OAUTH_CLIENT_ID=
GOOGLE_DRIVE_IMAGE_STORAGE_OAUTH_CLIENT_SECRET=
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_ROOT_FOLDER_ID=
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_APP_FOLDER_ID=
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_AVATAR_FOLDER_ID=
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_COVER_FOLDER_ID=
GOOGLE_DRIVE_IMAGE_STORAGE_OAUTH_REDIRECT_URI=
GOOGLE_DRIVE_IMAGE_STORAGE_OAUTH_REFRESH_TOKEN=

# Google OAuth Configurations

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Github OAuth Configurations

GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

# Facebook OAuth Configurations

FACEBOOK_OAUTH_CLIENT_ID=
FACEBOOK_OAUTH_CLIENT_SECRET=

# Linkedin OAuth Configurations

LINKEDIN_OAUTH_CLIENT_ID=
LINKEDIN_OAUTH_CLIENT_SECRET=

# Cloudinary Configurations

CLOUDINARY_API_CLOUD_NAME=
CLOUDINARY_API_KEY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=