# Silence Dot ENV logs
DOTENV_CONFIG_QUIET=true

# Environment
NODE_ENV=development

# Ports
BACKEND_PORT=1995
CLIENT_PORT=1997

# URLs
BACKEND_URL=http://localhost:1995
CLIENT_URL=http://localhost:1997

# Secret Keys
SESSION_SECRET_KEY=session-secret-key
JWT_SECRET_KEY=jwt-secret-key
JWT_ISSUER=backend
JWT_AUDIENCE=client
JWT_TOKEN_EXPIRY=2h
ACCESS_TOKEN_SECRET=access-token-secret
REFRESH_TOKEN_SECRET=refresh-token-secret
ACCESS_TOKEN_EXPIRY=2h
REFRESH_TOKEN_EXPIRY=7d

# VAPID Configurations
VAPID_PUBLIC_KEY=BO6JKr2lz0ztteYnW9Q0TtK9FMKbNBSwKWruOUvqty-kHj6Z77PhZUbWwLGXlg3_lyvO2UMuCOUxrLqpr62ZPl0
VAPID_PRIVATE_KEY=JtsYc4J2re1utpCyI4L3GqNBg6iCQ2y1ADPlNMZxFdo

# Email Configurations
SMTP_FROM=noreply@yourappname.com
SMTP_HOST=your-app-smtp-host
SMTP_PORT=587
SMTP_SECURE=true
SMTP_USER=your-app-smtp-user
SMTP_PASS=your-app-smtp-password

# Database Configurations
DB_LOCAL_URI=mongodb://localhost:27017
DB_LOCAL_NAME=database-local
DB_BASE_URI=mongodb+srv
DB_CLUSTER=database-cluster-url
DB_NAME=database-development
DB_USER=database-user
DB_PASSWORD=database-password