# Silence Dot ENV logs
DOTENV_CONFIG_QUIET=true

# Environment
MODE_ENV=development

# Ports
BACKEND_PORT=5000
CLIENT_PORT=3000

# URLs
BACKEND_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000

# Secret Keys
SESSION_SECRET_KEY=session-secret-key
JWT_SECRET_KEY=jwt-secret-key
JWT_ISSUER-backend
JWT_AUDIENCE=client
ACCESS_TOKEN_SECRET=access-token-secret
REFRESH_TOKEN_SECRET=refresh-token-secret
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d


# Email Configiurations
SMTP_FROM=noreply@yourappname.com
SMTP_HOST=your-app-smtp-host
SMTP_PORT=587
SMTP_SECURE=true
SMTP_USER=your-app-smtp-user
SMTP_PASS=your-app-smtp-password

# Database Configurations
DB_LOCAL_URI=mongodb://localhost:27017
DB_LOCAL_NAME=database-local
DB_BASE_URI=mongodb+srv
DB_CLUSTER=database-cluster-url
DB_NAME=database-development
DB_USER=database-user
DB_PASSWORD=database-password